#tracking-protection-icon-container,
#page-action-buttons,
#firefox-view-button,
#alltabs-button,
#PanelUI-button,
#identity-box,
.titlebar-spacer {
    display: none !important;
}


#TabsToolbar {
    margin-left: 25vw !important;
}

#nav-bar {
    background: transparent !important;
    margin-right: 75vw !important;
    margin-top: -36px !important;
}

#urlbar-container {
    width: auto !important;
}

#urlbar {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

#urlbar[breakout-extend] {
    width: 75vw !important;
}

#navigator-toolbox {
    border: 0px !important;
}

*|*:root[sizemode="normal"] #navigator-toolbox {
    max-height: 100vh;
    overflow: visible;
    transition: none;
}

*|*:root[sizemode="normal"] #navigator-toolbox .titlebar-buttonbox-container {
    position: relative;
    top: 0px !important;
}

*|*:root[sizemode="maximized"] #navigator-toolbox {
    overflow: visible;
}


/**********************************/
/**       Disappearing Bar       **/
/**********************************/

/* ⬇️ Comment this to disable ⬇️ */
#titlebar {
    position: relative;
    top: -100vh !important;
    transition: ease all 0.5s !important;
    transition-delay: 0.4s !important;
}

#navigator-toolbox:hover #titlebar {
    position: relative !important;
    top: 0px !important;
    transition-delay: -5s !important;
}

#navigator-toolbox:focus-within #titlebar {
    position: relative !important;
    transition: none !important;
    top: 0px !important;
}

#navigator-toolbox {
    max-height: 0.01vh;
    transition: ease all 0.5s !important;
    overflow: hidden;
    transition-delay: 0s !important;
}

#navigator-toolbox:hover {
    max-height: 100vh !important;
}

#navigator-toolbox:focus-within {
    max-height: 100vh !important;
}

#nav-bar {
    padding-top: 8px !important;
    top: -5px !important;
}

#urlbar-container {
    top: 5px !important;
}

#urlbar[breakout-extend] {
    padding-top: 5px !important;
    top: -5px !important
}

*|*:root[sizemode="normal"] #navigator-toolbox {
    max-height: 100vh;
    overflow: visible;
    transition: none;
}

*|*:root[sizemode="normal"] .titlebar-buttonbox-container {
    max-height: 100vh;
    transition: none !important;
}


/**********************************/
/**          Bottom Bar          **/
/**********************************/
/*        Arty2/userstyles        */

/* ⬇️ Comment this to disable ⬇️ */
#browser {
    -moz-box-ordinal-group: 0 !important;
    order: 0 !important;
}

#navigator-toolbox,
#navigator-toolbox-background {
    -moz-box-ordinal-group: 1 !important;
    order: 1 !important;
}

#urlbar[open]{
    flex-direction: column-reverse;
    display: flex !important;
    bottom: -2px !important;
    top: auto !important;
} 

*|*:root[sizemode="maximized"] #navigator-toolbox {
    border-top: 0.01vh solid transparent !important;
}

#navigator-toolbox .titlebar-buttonbox-container {
    position: relative;
    top: 0px !important;
    transition: none;
    transition-delay: none;
}

#navigator-toolbox:hover .titlebar-buttonbox-container {
    top: 0px !important;
    animation: none;
    transition-delay: none;
}

#navigator-toolbox:focus-within .titlebar-buttonbox-container {
    top: 0px !important;
    animation: none;
    transition-delay: none;
}

#titlebar {
    position: relative;
    top: 100vh !important;
}

#navigator-toolbox:hover #titlebar {
    position: relative !important;
    top: 0vh !important;
}

#navigator-toolbox:focus-within #titlebar {
    position: relative !important;
    top: 0vh !important;
}
