/**********************************/
/**        Theme: Arcadia        **/
/**********************************/
/*       tyrohellion/arcadia      */
/*    https://feathericons.com/   */

:root {
  --sfwindow: #19171a;
  --sfsecondary: #201e21;
}

#nav-bar {
  padding-top: 7px !important;
  top: -2px !important;
}

.tabbrowser-tab[selected="true"] .tab-background {
  background: #201e21 none !important;
}

#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected="true"],
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected="true"] {
  background-image: none !important;
  background-color: var(--toolbar-bgcolor) !important;
}

#navigator-toolbox {
  background-color: var(--sfwindow) !important;
}

:root {
  --toolbar-bgcolor: var(--sfsecondary) !important;
  --tabs-border-color: var(--sfsecondary) !important;
  --lwt-sidebar-background-color: var(--sfwindow) !important;
  --lwt-toolbar-field-focus: var(--sfsecondary) !important;
}

#sidebar-box,
.sidebar-placesTree {
  background-color: var(--sfwindow) !important;
}

.tab-close-button {
  opacity: 0;
  border-radius: 5px !important;
}

.tab-throbber {
  display: none !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 100 !important;
}

.tabbrowser-tab[image^="chrome:"] .tab-loading-burst {
  display: none;
}

.tabbrowser-tab .tab-icon-image {
  display: none !important;
}

.tab-icon-overlay {
  display: none !important;
}

#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: none;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

:root {
  --toolbarbutton-border-radius: 5px !important;
  --toolbar-field-focus-border-color: transparent !important;
  --tab-border-radius: 0 !important;
  --tab-block-margin: 0 !important;
}

.tab-background {
  border-right: 0px solid rgba(0, 0, 0, 0) !important;
  margin-left: -4px !important;
}

.tabbrowser-tab:is([visuallyselected="true"], [multiselected])
  > .tab-stack
  > .tab-background {
  box-shadow: none !important;
}

.tabbrowser-tab[last-visible-tab="true"] {
  padding-inline-end: 0 !important;
}

#tabs-newtab-button {
  padding-left: 0 !important;
}

#image.autoplay-media-icon,
#context_bookmarkTab,
#context_moveTabOptions,
#context_sendTabToDevice,
#context_reopenInContainer,
#context_selectAllTabs,
#context_closeTabOptions {
  display: none !important;
}

#urlbar-input::selection {
  background-color: #312d31 !important;
}

#blocked-permissions-container {
  display: none !important;
}

.notification-anchor-icon {
  display: none !important;
}

.blocked-permission-icon {
  display: none !important;
}

.urlbarView-row[selected] .urlbarView-row-inner,
.urlbarView-row:hover .urlbarView-row-inner {
  background-color: #312d31 !important;
}

#urlbar[breakout][breakout-extend][open] > #urlbar-input-container {
  border-radius: var(--toolbarbutton-border-radius)
    var(--toolbarbutton-border-radius) 0 0 !important;
  background-color: #201e21 !important;
}

#urlbar-background,
.urlbarView-results[wrap] > .urlbarView-row,
.search-one-offs {
  background-color: #201e21 !important;
  border: none !important;
}

.urlbarView-row:hover > .urlbarView-row-inner {
  background-color: #19171a !important;
}

#urlbar-input-container {
  background-color: var(--sfsecondary) !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

#urlbar-container {
  border: none !important;
  margin-left: 0 !important;
}

#urlbar[focused="true"] > #urlbar-background {
  box-shadow: none !important;
}

#navigator-toolbox {
  border: none !important;
}

.urlbarView-row[label="Firefox Suggest"]::before {
  display: none !important;
}
.urlbarView-row[label="Firefox Suggest"] {
  margin-top: 0 !important;
}

#urlbar .search-one-offs {
  display: none !important;
}

.urlbarView-row:is([type="switchtab"], [type="remotetab"])
  > .urlbarView-row-inner
  > .urlbarView-no-wrap
  > .urlbarView-action {
  display: none !important;
}

.bookmark-item .toolbarbutton-icon {
  display: none;
}
#toolbarbutton .bookmark-item:not(.subviewbutton) {
  min-width: 1.6em;
}

#urlbar-zoom-button,
#star-button-box,
#pageActionSeparator,
.tab-secondary-label {
  display: none !important;
}

.urlbarView-url {
  color: #dedede !important;
}

#tabs-newtab-button,
#TabsToolbar #new-tab-button {
  list-style-image: url(./plus.svg) !important;
  filter: sepia(0%) saturate(0%) hue-rotate(190deg) brightness(100%)
    contrast(150%);
}
